<div class="navbar navbar-dark rounded-pill mb-3">
    <div class="container-fluid justify-content-center">
        <div class="btn btn-primary col-md-2 col-4 mx-1 my-1 rounded-pill">
            <a href="/" class="nav-link fw-bold text-light">Beranda</a>
          </div>
        <div class="btn btn-primary col-md-2 col-4 mx-1 my-1 rounded-pill">
          <a href="/komik/terbaru?page=1" class="nav-link fw-bold text-light">Terbaru</a>
        </div>
        <div class="btn btn-primary col-md-2 col-4 mx-1 my-1 rounded-pill">
          <a href="/komik/manhua?page=1" class="nav-link fw-bold text-light">Manhua</a>
        </div>
        <div class="btn btn-primary col-md-2 col-4 mx-1 my-1 rounded-pill">
          <a href="/komik/manhwa?page=1" class="nav-link fw-bold text-light">Manhwa</a>
        </div>
    </div>
  </div>