<nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand text-primary mx-2 fs-6 fw-bold">MaruMik</a>
      <form method="POST"  action="/komik" class="d-flex">
        <input class="form-control border border-primary rounded-pill me-2" name="cari" type="search" placeholder="Cari Manga" aria-label="Search">
        <input class="btn btn-outline-primary rounded-pill" type="submit" value="Cari">
      </form>
    </div>
  </nav>

